@font-face {
    font-family: 'Avenir';
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.o) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.o) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.o) format("woff2");
    font-weight: 700;
    font-style: normal;
}