@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.o) format("woff2");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  font-weight: 400;
  color: #323232;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3,
p {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

li {
  list-style-type: none;
}

a {
  color: #AFAFAF;
  text-decoration: none;
}

.navbar {
  width: 100%;
  background-color: #323232;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding-left: 36px;
    padding-right: 36px;
    flex-direction: row;
    align-items: center;
    gap: 64px;
  }
}
.navbar__logo {
  text-align: center;
}
.navbar__logo img {
  height: 20px;
  width: 120px;
}
.navbar__menu {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .navbar__menu {
    gap: 56px;
  }
}
.navbar__link {
  align-items: flex-end;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar__link:hover, .navbar__link:active {
  border-bottom: 4px solid #FFFFFF;
}
.navbar__link:hover a, .navbar__link:active a {
  color: #FFFFFF;
  font-weight: 700;
}
.navbar__link--active {
  border-bottom: 4px solid #FFFFFF;
}
.navbar__link--active a {
  color: #FFFFFF;
  font-weight: 700;
}

.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 68vh;
  }
}
@media screen and (min-width: 1080px) {
  .hero {
    height: 600px;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
}
.hero h1 {
  position: absolute;
  padding-left: 16px;
  top: 40%;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .hero h1 {
    padding-left: 36px;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.about {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 48px;
  }
}
.about h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .about h2 {
    padding-bottom: 36px;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.about__card {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__card {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media screen and (min-width: 1080px) {
  .about__card {
    padding-left: 56px;
    padding-right: 56px;
  }
}
.about__card img {
  width: 100%;
}
.about__card p {
  margin: 0;
  padding-top: 16px;
  font-size: 0.875rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__card p {
    padding-top: 36px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1080px) {
  .about__card p {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .about #team {
    padding-top: 8px;
    font-size: 0.875rem;
  }
}

.details {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .details {
    padding-left: 84px;
    padding-right: 84px;
  }
}
@media screen and (min-width: 1080px) {
  .details {
    padding-left: 92px;
    padding-right: 92px;
  }
}
.details h3 {
  margin: 0;
  padding-top: 24px;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #000000;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .details h3 {
    padding-top: 32px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.details__description {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .details__description {
    flex-direction: row;
    gap: 24px;
  }
}
.details__description p {
  padding-top: 16px;
  margin: 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .details__description p {
    padding-top: 36px;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 36px;
    padding-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
  }
}
.gallery h2 {
  margin: 0;
  padding-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .gallery h2 {
    padding-left: 36px;
    padding-right: 36px;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.gallery__images {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .gallery__images {
    padding-left: 36px;
    padding-right: 36px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: stretch;
  }
}
.gallery__images img {
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .gallery__images img {
    width: 31%;
    padding-bottom: 24px;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 24px 16px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 48px 36px;
  }
}
.footer__intro {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .footer__intro {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1080px) {
  .footer__intro {
    width: 40%;
    justify-content: flex-start;
  }
}
.footer__intro h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__intro h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    width: 16.25rem;
  }
}
@media screen and (min-width: 1080px) {
  .footer__intro h2 {
    width: 21.25rem;
  }
}
.footer__intro--icons {
  display: flex;
  justify-content: space-between;
  width: 7.5rem;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer__intro--icons {
    width: 40%;
    width: 100px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__intro--icons img {
    width: 25px;
    height: 25px;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1080px) {
  .footer__contact {
    width: 70%;
  }
}
.footer__contact h3 {
  padding-top: 24px;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.footer__contact p {
  margin: 0;
  padding-top: 16px;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__logo {
  padding-top: 32px;
  padding-bottom: 24px;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 21px;
    right: 35px;
  }
}
.footer__logo img {
  height: 20px;
  width: 120px;
}
.footer__copywrite p {
  margin: 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer__copywrite p {
    padding-top: 48px;
  }
}/*# sourceMappingURL=bio.css.map */