@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;

*,
*::before,
*::after {
    @include box-sizing;
}

html,
body {
    margin: 0;
    font-family: "Avenir";
    font-weight: 400;
    color: $primary-color-1;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}
li {
    list-style-type: none;
}
a {
    color: $primary-color-2;
    text-decoration: none;
}

.navbar {
    width: 100%;
    background-color: $primary-color-1;
    // padding: $padding-medium $padding-medium 0;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: $padding-large $padding-large 0;
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }

    &__logo {
        text-align: center;

        img {
            @include logo;
        }
    }
    &__menu {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-content: space-evenly;

        @include tablet {
            gap: 3.5rem;
        }
    }
    &__link {
        align-items: flex-end;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: $padding-medium 0;

        &:hover,
        &:active {
            a {
                color: $primary-color-3;
                font-weight: 700;
            }
            border-bottom: 0.25rem solid $primary-color-3;
        }

        &--active {
            border-bottom: 0.25rem solid $primary-color-3;
            a {
                color: $primary-color-3;
                font-weight: 700;
            }
        }
    }
}

.hero {
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url("../assets/images/hero-bio.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
        height: 78vh;
    }
    @include desktop {
        height: 88vh;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color-1;
        opacity: 0.5;
    }

    h1 {
        @include h1-font-mob;
        color: $primary-color-3;
        position: absolute;
        padding-left: $padding-medium;
        top: 40%;

        @include tablet {
            padding-left: $padding-large;
            @include h1-font-tab;
        }
    }
}

.about {
    padding: $padding-regular $padding-medium;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: $padding-extra-large $padding-large;
    }

    h2 {
        @include h1-font-mob;
        padding-bottom: $padding-medium;

        @include tablet {
            padding-bottom: $padding-large;
            @include h2-font-tab;
        }
    }
    &__card {
        width: 100%;
        @include tablet {
            padding: 0 $padding-extra-large;
        }

        @include desktop {
            padding: 0 3.5rem;
        }

        img {
            width: 100%;
        }

        p {
            @include h3-font-mob;
            font-weight: 600;
            padding-top: $padding-medium;
            text-shadow: 0;
            transition: transform 0.3s ease;

            &:hover{
                text-shadow: 1.25rem 1.25rem 0.625rem rgb(210, 208, 208);
                transform: translateY(-5px);
                z-index: 1;
            }

            @include tablet {
                padding-top: $padding-large;
                @include h3-font-tab;
            }
            @include desktop {
                width: 80%;
            }
        }
    }

    #team {
        @include tablet {
            padding-top: 0.5rem;
            font-size: $font-medium;
        }
    }
}

.details {
    padding: 0 $padding-medium $padding-medium $padding-medium;

    @include tablet {
        padding: 0 5.25rem $padding-large 5.25rem;
    }

    @include desktop {
        padding: 0 5.75rem $padding-large 5.75rem;
    }
    h3 {
        @include h3-font-mob;
        color: $secondary-color-1;

        @include tablet {
            @include h3-font-tab;
        }
    }
    &__description {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            gap: 1.5rem;
        }

        p {
            padding-top: $padding-medium;
            @include p-font-mob;

            @include tablet {
                padding-top: $padding-large;
                @include p-font-tab;
            }
        }
    }
}
.gallery {
    background-color: $secondary-color-3;
    padding: $padding-regular $padding-medium;

    @include tablet {
        padding: $padding-extra-large 0;
    }

    h2 {
        padding-bottom: $padding-medium;
        @include h1-font-mob;

        @include tablet {
            padding: 0 $padding-large $padding-large;
            @include h2-font-tab;
        }
    }

    &__images {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
            padding: 0 $padding-large;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        img {
            padding-bottom: $padding-medium;
            filter: grayscale(100%);
            transition:
                filter 0.3s ease,
                transform 0.3s ease;

            &:hover {
                filter: grayscale(0%);
                transform: translateY(-5px);
                z-index: 1;
            }

            @include tablet {
                width: 31%;
                padding-bottom: $padding-regular;
            }
        }
    }
}

.footer {
    background-color: $primary-color-1;
    color: $primary-color-3;
    padding: $padding-regular $padding-medium;
    position: relative;

    @include tablet {
        padding: $padding-extra-large $padding-large;
    }
    &__intro {
        display: flex;
        flex-direction: column;
        width: fit-content;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        @include desktop {
            width: 40%;
            justify-content: flex-start;
        }

        h2 {
            @include h1-font-mob;

            @include tablet {
                @include h2-font-tab;
                width: 15.25rem;
            }
            @include desktop {
                width: 20.25rem;
            }
        }

        &--icons {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 7.5rem;
            padding-top: $padding-medium;

            @include tablet {
                width: 40%;
                width: 6.25rem;
                padding: 0;
            }
            img {
                @include tablet {
                    width: 1.5625rem;
                    height: 1.5625rem;
                }
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }

        @include desktop {
            width: 70%;
        }

        h4 {
            padding-top: $padding-regular;
            @include footer-p-mob;
            font-weight: 600;

            @include tablet {
                @include footer-p-tab;
                font-weight: 600;
            }
        }
        p {
            padding-top: $padding-medium;
            @include footer-p-mob;

            @include tablet {
                @include footer-p-tab;
            }
            a {
                color: $primary-color-3;
            }
        }
    }

    &__logo {
        padding-top: 2rem;
        padding-bottom: $padding-regular;
        width: fit-content;

        @include tablet {
            position: absolute;
            top: 1.3125rem;
            right: 2.1875rem;
        }

        img {
            @include logo;
        }
    }
    &__copywrite {
        p {
            @include footer-p-mob;

            @include tablet {
                padding-top: $padding-extra-large;
                @include footer-p-tab;
            }
        }
    }
}
