@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.o) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.o) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.o) format("woff2");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Avenir";
  font-weight: 400;
  color: #323232;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: #AFAFAF;
  text-decoration: none;
}

.show-hero {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url("../assets/images/hero-shows.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .show-hero {
    height: 78vh;
  }
}
@media screen and (min-width: 1080px) {
  .show-hero {
    height: 88vh;
  }
}
.show-hero__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
}
.show-hero__header {
  color: #FFFFFF;
  position: absolute;
  width: 35%;
  padding-left: 1rem;
  top: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .show-hero__header {
    padding-left: 2.25rem;
    width: 70%;
  }
}
.show-hero__header h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .show-hero__header h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.show-hero__header h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .show-hero__header h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

.event-section {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 1080px) {
  .event-section {
    display: flex;
    padding-left: 36px;
    padding-right: 36px;
    gap: 15rem;
  }
}
.event-section h2 {
  padding-top: 24px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1080px) {
  .event-section__event-container {
    width: 100%;
  }
}
.event-section__event {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #AFAFAF;
}
@media screen and (min-width: 768px) {
  .event-section__details {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
  }
}
.event-section__label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  color: #AFAFAF;
  font-weight: 600;
  padding-top: 8px;
}
.event-section__date {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
  padding-bottom: 8px;
}
.event-section__venue, .event-section__location {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding-bottom: 8px;
}
.event-section__button {
  margin-top: 16px;
  background-color: #323232;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Avenir";
  font-weight: bold;
  width: 100%;
}
.event-section__button:hover {
  background-color: #000000;
}/*# sourceMappingURL=shows.css.map */